<!-- Most important part of the integration between Rails and React. Webpacker allows us to render a single html page which will include all of the react components within it. If we want to move between Rails and React we simply alter the url to match whatever page we need. -->
<div id="root"></div>

<%= stylesheet_pack_tag 'index' %>
<%= javascript_pack_tag 'index' %>

<%= content_tag :div,
  id: "api_key",
  data:  @api_key.to_json do %>
<% end %>
