// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// This is managing the Order component

.order__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.order__total {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.order__text {
  font-weight: 400;
  margin-top: 24px;
  font-size: 20px;
}
